/*
 * General css settings for all projects
 */

html,body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    font-size: 12pt;

    color: #fff;
    background-color: rgb(23,23,23);
}
/*
 * Wrapper for positioning
 */
#wrapper {
    position: relative;
}

/* -----------------------------------------------------
 * Game Canvas
 */
#canvas {
    /*width: 1000px;*/
    width:1024px;
    height:768px;
    display: block;
    margin: 0 auto;
}

/* -----------------------------------------------------
 * General basic positioning of dialogs and screens
 */
#overlay, #splash, .dialog {
    position: absolute;
    margin: auto auto;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* -----------------------------------------------------
 * Overlay covering the canvas
 */
#overlay {
    width: 1000px;

    background-color: #C3E6F7;
}
.clickBlock { opacity: 0.4; }
.opaque { opacity: 1; }

/* -----------------------------------------------------
 * Container for the splash screen image
 */
#splash {
    width: 1000px;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
}

#splash img {
    display:block;
}

/* -----------------------------------------------------
 * Basic definition for global dialogs (intro/eval)
 */
.dialog {
    width: 708px;
    height: 478px;

    font-size: 16px;
    font-weight: bold;

    color: #6b361e;

    background-color: transparent;
    background-image: url('../img/webui.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/*
 * Content wrapper in dialogs used for positioning
 */
.dialog .container {
    position: relative;
    width: 380px;
    height: 340px;
    margin: 0 175px;
}

.dialog p {
    margin: 22px 0 8px 0;
    padding:0;
}

.dialog .title {
    margin-top: 75px;

    font-family: CCSlaphappy;
    font-size: 24px;
    font-weight: normal;
}

.dialog .content {
    /* nothing for now */
}

/*
 * Button container
 */
.dialog .buttons {
    position:absolute;

    width: 100%;
    height: 42px;

    bottom: 0px;
}

/* -----------------------------------------------------
 * Dialog buttons
 */
.dialog button {
    width: 120px;
    height: 42px;

    font-family: CCSlaphappy;
    font-size: 22px;
    font-weight: normal;

    cursor: pointer;

    color: #ffffff;
    background-color: transparent;
    background-image: url('../img/webui.png');   /* TODO fix this */
    background-repeat: no-repeat;
    background-position: 0px -478px;
    overflow: hidden;

    border: 0;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
}

.dialog button:hover {
    background-position: -120px -478px;
}

/*
 * Concrete button style definitions
 */
.continue {
    position: absolute;
    top: 0;
    right: 0;
}

.return {
    position: absolute;
    top: 0;
    left: 0;
}

.retry {
    position: absolute;
    top: 0;
    /*left: 130px; */
}

/* -----------------------------------------------------
 * Styled content in dialog texts
 */
.points, .maxpoints {}


/* -----------------------------------------------------
 * Intro Screen
 */

/*
 * Container for images on intro screen
 */
.dialog .images {
    position:absolute;
    bottom: 66px;
}

/* Introduction */

.illustration {
    width: 380px;

    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* -----------------------------------------------------
 * Used for preloading the webfonts and the websprite image
 */
#preloader {
    position: absolute;
    width: 1px;
    height: 1px;

    /* preloading the webfont */
    font-family: CCSlaphappy;
    font-size: 1px;

    /* preloading the websprite */
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    overflow: hidden;
}

/* -----------------------------------------------------
 * Globally used classes
 */

.hidden { display: none; }
.interactive { cursor: pointer; }

/* -----------------------------------------------------
 * Fixes for 1024px browsers with scrollbars
 */

@media all and (max-width: 1024px) and (min-device-aspect-ratio: 1/1) {

    #canvas {
        position:relative;
        margin: 0;
    }
    /*.wrapper {
        padding: 0 74px 0 73px;
        margin: 0 auto;
    }

    header h1 {
        margin-left: -72px;
        padding-left: 74px;
        left: 1px;
    }

    #logoimage {
        left: 0px;
    }

    #slash {
        left: 384px;
    }

    .full {
        min-width: 1007px;
    }  */
}